* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    max-height: 100vh;
    text-align: center;
    overflow: hidden;
}

.container-fluid h1 {
    font-size: 70px;
    user-select: none;
    color: #FB9DAC;
    text-shadow: 0px 1px 0px #FDCFD7,
        0px 2px 0px #FAB9C5,
        0px 3px 0px #F89BB1,
        0px 4px 0px #F57D9D,
        0px 5px 0px #F35F89,
        0px 6px 1px rgba(245, 95, 137, .1),
        0px 0px 5px rgba(245, 95, 137, .1),
        0px 1px 3px rgba(245, 95, 137, .3),
        0px 3px 5px rgba(245, 95, 137, .2),
        0px 5px 10px rgba(245, 95, 137, .25),
        0px 10px 10px rgba(245, 95, 137, .2),
        0px 20px 20px rgba(245, 95, 137, .15);
    margin-bottom: 20px;
}

.father .gif img {
    margin-top: 50px;
    width: 350px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 35%;
}

.container-btn {
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid black;
    width: 150px;
    height: 100px;
    margin: 10px;
}
a:hover{
    transition: transform .7s ease;
    transform: scale(1.1);
}
#saidYes{
    background-color: #4CAF50;
    color: #ffffff !important; 
    border: 2px solid #4CAF50;
}
#saidNo{
    background-color: #e60000;
    color: #ffffff !important;
    border: 2px solid #e60000;
}
#saidYes:hover::after{
    content: "❤️";
    height: 30px;
    width: 3    0px;
    position: absolute;
    top: 0;
    right: 0;
    filter:drop-shadow(2px 2px 3px white);
}
#saidNo:hover::after{
    content: "💔";
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    filter: drop-shadow(2px 2px 3px rgb(237, 236, 236,.8));
}

@keyframes cambioColor{
    0%{
        background-color: #e60000;
    }
    25%{
        background-color: #d61515;
    }
    50%{
        background-color: #ca2929;
    }
    75%{
        background-color: #bd4949;
    }
    100%{
        background-color: #ea7676;
    }
}

@media screen and (max-width: 480px) {
    .container-fluid {
        height: 100vh;
        overflow: hidden;
    }

    .container-btn {
        max-width: 300px;
        max-height: 350px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .father .gif img {
        margin-top: 20px;
        width: 200px;
    }

    .container-fluid h1 {
        font-size: 40px;
    }

    a {
        margin: 10px 10px;
        width: 100px;
        height: 70px;
    }
}
@media screen and (min-width: 481px) {
    .container-fluid {
        height: 100vh;
    }
} 